
Django==2.0.2
djangorestframework==3.7.7

requests==2.18.4
websocket-client==0.46.0
ecdsa==0.13
pycrypto==2.6.1
base58==0.2.5
django-redis-cache==1.7.1
psycopg2==2.7.4
msgpack==0.5.6

python-redis-lock[django]==3.2.0

-e git+https://github.com/aeternity/aepp-sdk-python.git@develop#egg=aeternity